*{
    margin: 0;
    padding: 0;
}

.box label,
.box input{
    font-size: 15px;

}

input[type="number"],
input[type="text"]{
    font-size: large;
}


body{
    background-color: #b38db1;
    text-align: center;
}

.basic-border{
    border: transparent;
    background-color: rgb(221, 208, 218);
    border-radius: 1rem;
    height: 35vmin;
    width: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.container{
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#reset-btn{
    border: 2px solid black;
    padding: 1rem;
    width: 400px;
    justify-content: center;
    background-color: rgb(221, 208, 218);
    border: transparent;
    align-content: center;
    margin: auto;
    border-radius: 1rem;
    font-size: 1.25rem;

}

button {
    padding: 5px;
    background-color: rgb(221, 208, 218);
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}